.hero {
  position: relative;
  min-height: 90vh;
  
  &__img {
    background-image: url('../img/back.jpg');
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  
  &__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 90vh;
    font-size: 80px;
    font-family: 'Oswald';
    font-weight: 300;
    letter-spacing: 12px;
    text-transform: uppercase;
    opacity: 0;
    animation: 3s fadeIn forwards;
    
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    
    @media (max-width: 800px) {
      flex-wrap: wrap;
      font-size: 60px;
      height: 30vh;
      position: absolute;
      top: 20vh;
      left: 3vw;
    }
    
    @media (max-width: 600px) {
      font-size: 40px;
    }
    
    @media (max-width: 400px) {
      font-size: 25px;
    }
    
    &--span {
      font-weight: 400;
    }
  }
}