<% include partials/header %>
<% include partials/navbar %>

<div class="container">
  <div class="about">
    <h1 class="text-center">About Me</h1>
    <hr>
    <div class="col-md-4">
      <img class="about__img" src="img/about.png" alt="Me">
    </div>
    <div class="col-md-8">
      <p class="about__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente cumque, nam, possimus odit incidunt impedit quas consequatur adipisci saepe soluta pariatur cupiditate dolorem doloribus eaque voluptatum voluptates. Expedita, dolor! Illum.</p>
    </div>
  </div>
</div>

<% include partials/footer %>