<% include partials/header %>
<% include partials/navbar %>

<div class="container">
  <div class="about">
    <h1 class="text-center">About Me</h1>
    <hr>
    <p class="text-center">Hello, my name is Kaden. 
      I am a fullstack web developer with a background 
      in graphic design. If you look through my 
      portfolio you'll notice that my graphic design 
      experience shines through into my code. With my 
      design and development abilities, I will bring 
      your business from an idea on paper to a 
      memorable brand with a classy modern website.</p>
    <p class="text-center">I have experience using many different 
      languages, frameworks and programs. Primarily 
      I work with:</p>
    <div class="col-md-12">
      <div class="col-md-4 col-md-offset-2">
        <p class="text-center about__list">HTML</p>
        <p class="text-center about__list">CSS & SASS/SCSS</p>
        <p class="text-center about__list">Javascript</p>
        <p class="text-center about__list">NodeJS & Express</p>
      </div>
      <div class="col-md-4">
        <p class="text-center about__list">Bootstrap</p>
        <p class="text-center about__list">ReactJS</p>
        <p class="text-center about__list">jQuery</p>
      </div>
    </div>
    <p class="text-center">On top of this, I am well versed with:</p>
    <div class="col-md-12">
      <div class="col-md-4 col-md-offset-2">
        <p class="text-center about__list">Git & Github</p>
        <p class="text-center about__list">SSH</p>
        <p class="text-center about__list">HTTP/HTTPS</p>
        <p class="text-center about__list">Terminal Usage</p>
        <p class="text-center about__list">Character Encodings</p>
        <p class="text-center about__list">Data Structures & Algorithms</p>
        <p class="text-center about__list">NPM & Yarn</p>
        <p class="text-center about__list">Testing - Jest & Mocha</p>
      </div>
      <div class="col-md-4">
        <p class="text-center about__list">Webpack</p>
        <p class="text-center about__list">Redux</p>
        <p class="text-center about__list">MongoDB</p>
        <p class="text-center about__list">BEM Notation</p>
        <p class="text-center about__list">D3 & SVG</p>
        <p class="text-center about__list">Flexbox, CSS Grid, Floats</p>
        <p class="text-center about__list">RESTful APIs</p>
        <p class="text-center about__list">JWT & OAuth 2.0</p>
      </div>
    </div>
    <p class="text-center">My work extends beyond the code I write, 
      with search engine optimization, web hosting, etc.
      I will be able to handle anything you throw at me.</p>
  </div>
</div>

<% include partials/footer %>