<% include partials/header %>
<% include partials/navbar %>

<div class="container">
  <div class="portfolio">
    <div class="col-md-12">
      <h1 class="text-center">Portfolio</h1>
      <hr>
    </div>
    <div class="col-md-4">
      <a href="/projects/Natours">
        <div class="thumbnail">
          <img src="img/Natours.JPG" alt="Natours">
          <hr>
          <h3 class="text-center">Natours</h3>
          <p class="text-center">
            Fictional adventure tours website. <em>Front-end only.</em>
            <br>
            <strong>HTML, SCSS</strong>
          </p>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="https://van-canna.herokuapp.com/">
        <div class="thumbnail">
          <img src="img/Vancanna.JPG" alt="Vancanna">
          <hr>
          <h3 class="text-center">Vancanna</h3>
          <p class="text-center">
            Fullstack web application to map 
            out Vancouver's cannabis industry.
            <br>
            <strong>NodeJS, Express, EJS, SCSS, MongoDB</strong>
          </p>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="/projects/mountainsWebpage">
        <div class="thumbnail">
          <img src="img/mountain-travel.JPG" alt="Mountain Travel">
          <hr>
          <h3 class="text-center">Mountain Travel</h3>
          <p class="text-center">
            Fictional mountain tours website. <em>Front-end only.</em>
            <br>
            <strong>HTML, CSS</strong>
          </p>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="/projects/Nexter">
        <div class="thumbnail">
          <img src="img/Nexter.JPG" alt="Nexter">
          <hr>
          <h3 class="text-center">Nexter</h3>
          <p class="text-center">
            Fictional luxury real estate website. <em>Front-end only.</em>
            <br>
            <strong>HTML, SCSS</strong>
          </p>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="/projects/CryptoICO">
        <div class="thumbnail">
          <img src="img/cryptic.JPG" alt="Cryptic">
          <hr>
          <h3 class="text-center">Cryptic</h3>
          <p class="text-center">
            Fictional cryptocurrency ICO website. <em>Front-end only.</em>
            <br>
            <strong>HTML, CSS</strong>
          </p>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="/projects/Trillo">
        <div class="thumbnail">
          <img src="img/trillo.JPG" alt="Trillo">
          <hr>
          <h3 class="text-center">Trillo</h3>
          <p class="text-center">
            Fictional all-in-one travel website. <em>Front-end only.</em>
            <br>
            <strong>HTML, SCSS</strong>
          </p>
        </div>
      </a>
    </div>
  </div>
</div>

<% include partials/footer %>