<% include partials/header %>
<% include partials/navbar %>

<div class="portfolio">
  <div class="container">
    <h1 class="text-center">Portfolio</h1>
    <hr>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="img/Natours.jpg" alt="Natours">
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="img/mountain-travel.jpg" alt="Mountain Travel">
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="img/Nexter.jpg" alt="Nexter">
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>