body {
  margin-top: 60px;
  font-family: 'Roboto'; }

.hero {
  position: relative; }
  .hero__img {
    background-image: url("../img/back.jpg");
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    z-index: -1; }
  .hero__heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    height: 90vh;
    font-size: 8rem;
    font-family: 'Oswald';
    font-weight: 300;
    letter-spacing: 12px;
    text-transform: uppercase;
    opacity: 0;
    animation: 3s fadeIn forwards; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    @media (max-width: 800px) {
      .hero__heading {
        font-size: 6rem; } }
    @media (max-width: 600px) {
      .hero__heading {
        font-size: 4rem; } }
    @media (max-width: 400px) {
      .hero__heading {
        font-size: 2.5rem; } }
    .hero__heading--span {
      font-weight: 400; }

.portfolio {
  display: flex;
  flex-wrap: wrap; }

.portfolio h3, p {
  color: black; }

.portfolio a {
  text-decoration: none; }

.portfolio h3 {
  font-family: 'Oswald';
  font-weight: 300;
  text-transform: uppercase; }
